################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokeFinder/src/PokeFinder/bin/Debug
/PokeFinder/.vs
/PokeFinder/src/PokeFinder/obj/Debug
/PokeFinder/packages
*.log
/PokeFinder/src/PokeFinder.Domain/bin/Debug
/PokeFinder/src/PokeFinder.Domain/obj/Debug
/PokeFinder/src/PokeFinder.WPF/bin/Debug
/PokeFinder/src/PokeFinder.WPF/obj/Debug
/PokeFinder/src/PokeFinder/bin/Release/net461
/PokeFinder/src/PokeFinder.Domain/bin/Release
/PokeFinder/src/PokeFinder.Domain/obj/Release
/PokeFinder/src/PokeFinder.WPF/bin/Release
/PokeFinder/src/PokeFinder.WPF/obj/Release
/PokeFinder/src/PokeFinder/obj/Release/net461
