################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PokeFinder/src/PokeFinder/bin/Debug
