@model PokeFinder.Models.SearchRectangle

<div class="row">
    <div class="col-md-6">
        <div id="map"></div>
    </div>
    <div class="col-md-3">
        <h2>Position to load</h2>
        <form method="post">
            <span asp-validation-summary="ModelOnly"></span>
            @if (ViewBag.UserMessage != null)
            {
                <div>@ViewBag.UserMessage</div>
            }
            <div class="form-group">
                <label asp-for="PrimaryLatLong.Latitude">Latitude 1:</label>
                <input asp-for="PrimaryLatLong.Latitude" class="form-control" />
                <span asp-validation-for="PrimaryLatLong.Latitude" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryLatLong.Longitude">Longitude 1:</label>
                <input asp-for="PrimaryLatLong.Longitude" class="form-control" />
                <span asp-validation-for="PrimaryLatLong.Longitude" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryLatLong.Latitude">Latitude 2:</label>
                <input asp-for="SecondaryLatLong.Latitude" class="form-control"/>
                <span asp-validation-for="SecondaryLatLong.Latitude" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryLatLong.Longitude">Longitude 2:</label>
                <input asp-for="SecondaryLatLong.Longitude" class="form-control"/>
                <span asp-validation-for="SecondaryLatLong.Longitude" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Search" class="btn btn-success" />
                <input type="button" value="Clear Markers" class="btn btn-default" onclick="deleteMarkers()"/>
            </div>
        </form>
    </div>
    <div class="col-md-3">
     
    </div>
</div>




@section scripts {
    <script>
        var map;
        var markers = [];
        var rectangle = {};
        function initMap() {
            var haightAshbury = { lat: 47.340, lng: 13.202 };

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: haightAshbury,
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            // This event listener will call addMarker() when the map is clicked.
            map.addListener('click', function (event) {
                addMarker(event.latLng);
            });
        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            if (markers.length == 0) {
                document.getElementById('PrimaryLatLong_Latitude').value = location.lat();
                document.getElementById('PrimaryLatLong_Longitude').value = location.lng();
            }
            else if (markers.length == 1) {
                document.getElementById('SecondaryLatLong_Latitude').value = location.lat();
                document.getElementById('SecondaryLatLong_Longitude').value = location.lng();
            }
            else {
                deleteMarkers();
                return;
            }

            var marker = new google.maps.Marker({
                position: location,
                map: map
            });

            markers.push(marker);

            var latitude1 = markers[0].position.lat();
            var latitude2 = markers[1].position.lat();
   
            var longitude1 = markers[0].position.lng();
            var longitude2 = markers[1].position.lng();

            var higherLatitude = latitude1 > latitude2 ? latitude1 : latitude2;
            var lowLatitude = latitude1 > latitude2 ? latitude2 : latitude1;
            var higherLongitude = longitude1 > longitude2 ? longitude1 : longitude2;
            var lowerLongitude = longitude1 > longitude2 ? longitude2 : longitude1;


            if (markers.length == 2) {
                rectangle = rectangle = new google.maps.Rectangle({
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#FF0000',
                    fillOpacity: 0.35,
                    map: map,
                    bounds: {
                        north: higherLatitude,
                        south: lowLatitude,
                        east: higherLongitude,
                        west: lowerLongitude
                    }
                });
            }
        }

        function deleteMarkers() {
            clearMarkers();
            rectangle.setMap(null);
            markers = [];
            document.getElementById('PrimaryLatLong_Latitude').value = "";
            document.getElementById('PrimaryLatLong_Longitude').value = "";
            document.getElementById('SecondaryLatLong_Latitude').value = "";
            document.getElementById('SecondaryLatLong_Longitude').value = "";
        }

        function clearMarkers() {
            setMapOnAll(null);
        }


        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDrGRILBvQGP7HK0CL15CmmQhklDtGn5o&callback=initMap"></script>
}